In [27]:
import requests
import passwords as pw
import pandas as pd
import time
from sklearn.preprocessing import MultiLabelBinarizer

In [28]:
def get_puuid(game_name, tag_line, api_key):
    api_url = (f"https://americas.api.riotgames.com/riot/account/v1/accounts/by-riot-id/{game_name}/{tag_line}?api_key=" + api_key)
    resp = requests.get(api_url)
    player_info = resp.json()
    return player_info['puuid']

In [29]:
get_puuid('I will trade', 'NA1', pw.API_KEY)

'I1b23fOoa0-kFyLWIo00nUYJPn9eJGaDMWcZ6fZkazuslrcJtunBf_UtXyMnPEfpWpOy2W5n1R56sw'

In [30]:
def get_active_game(puuid, api_key):
    headers = {"X-Riot-Token": api_key}
    api_url = (f"https://na1.api.riotgames.com/lol/spectator/v5/active-games/by-summoner/{puuid}")
    resp = requests.get(api_url, headers = headers)
    game_data = resp.json()

    champion_ids = [player['championId'] for player in game_data['participants']]
    return champion_ids

In [31]:
def champion_names(champ_ids):
    version = requests.get("https://ddragon.leagueoflegends.com/api/versions.json").json()[0]
    api_url = f"https://ddragon.leagueoflegends.com/cdn/{version}/data/en_US/champion.json"
    champs = requests.get(api_url).json()["data"]
    id_to_name = {int(name["key"]): champ for champ, name in champs.items()}
    
    champ_names = [id_to_name.get(id, "Unknown") for id in champ_ids]
    print("Champions in game:", champ_names)

In [32]:
def get_match_ids(start, count, puuid, api_key):
    api_url = (f"https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{puuid}/ids?start={start}&count={count}&api_key={api_key}")
    resp = requests.get(api_url)
    match_ids = resp.json()
    return match_ids

In [33]:
def get_match_data(match_id, api_key):
    api_url = ("https://americas.api.riotgames.com/lol/match/v5/matches/" + match_id +
               "?api_key=" + api_key)
    try:
        resp = requests.get(api_url)
        match_data = resp.json()
        return match_data
    except:
        return None

In [34]:
def pull_matches(start, count = 100):
    dataframe = []
    match_ids = get_match_ids(start, count, pw.spica_PUUID, pw.API_KEY)
    print(match_ids)
    for match in match_ids:
        match_data = get_match_data(match, pw.API_KEY)
        if not match_data or 'info' not in match_data:
            continue

        participants = match_data['info']['participants']
        
        player = next((p for p in participants if p['puuid'] == pw.spica_PUUID), None)
        player_team = player['teamId']
        player_win = player['win']
        
        ally_champs = [p['championName'] for p in participants if p['teamId'] == player_team]
        enemy_champs = [p['championName'] for p in participants if p['teamId'] != player_team]
        
        dataframe.append({
            'match_id': match,
            'ally_champs': ally_champs,
            'enemy_champs': enemy_champs,
            'win': int(player_win)
        })
    
    return pd.DataFrame(dataframe)

In [35]:
final_df = pd.DataFrame(columns = ['match_id', 'ally_champs', 'enemy_champs'])

In [36]:
iterations = 10
start = 0
for i in range(iterations):
    temp = pull_matches(start, 100)
    start += 100
    final_df = pd.concat([temp, final_df], ignore_index = True)
    time.sleep(120)

['NA1_5318448730', 'NA1_5318071133', 'NA1_5318069738', 'NA1_5318062264', 'NA1_5317851480', 'NA1_5317476803', 'NA1_5317467194', 'NA1_5317457917', 'NA1_5316863136', 'NA1_5316855346', 'NA1_5316846021', 'NA1_5316814130', 'NA1_5316804270', 'NA1_5316788086', 'NA1_5316766499', 'NA1_5316708545', 'NA1_5316666871', 'NA1_5316232033', 'NA1_5316224830', 'NA1_5316049564', 'NA1_5316040463', 'NA1_5316027233', 'NA1_5316006618', 'NA1_5315992988', 'NA1_5315976545', 'NA1_5315626155', 'NA1_5315622825', 'NA1_5315614814', 'NA1_5315595784', 'NA1_5315569476', 'NA1_5315540969', 'NA1_5315509869', 'NA1_5315462872', 'NA1_5315412117', 'NA1_5314988488', 'NA1_5314953539', 'NA1_5314935661', 'NA1_5314905819', 'NA1_5314858937', 'NA1_5314821691', 'NA1_5314792726', 'NA1_5314762473', 'NA1_5314733004', 'NA1_5314696516', 'NA1_5314682264', 'NA1_5314424447', 'NA1_5314416775', 'NA1_5314400100', 'NA1_5314370641', 'NA1_5314345179', 'NA1_5314305530', 'NA1_5314267877', 'NA1_5314210478', 'NA1_5314183803', 'NA1_5314146239', 'NA1_5314111954', 'NA1_5314085448', 'NA1_5314067847', 'NA1_5313808824', 'NA1_5313616093', 'NA1_5313578549', 'NA1_5313544222', 'NA1_5313521444', 'NA1_5313493689', 'NA1_5313232915', 'NA1_5313226198', 'NA1_5313217698', 'NA1_5313192776', 'NA1_5313155257', 'NA1_5313129500', 'NA1_5313101812', 'NA1_5313074533', 'NA1_5313047129', 'NA1_5313012311', 'NA1_5312984643', 'NA1_5312954121', 'NA1_5312566992', 'NA1_5312554852', 'NA1_5312546379', 'NA1_5312530179', 'NA1_5312009139', 'NA1_5312002332', 'NA1_5312000174', 'NA1_5311987204', 'NA1_5311948306', 'NA1_5311914571', 'NA1_5311884519', 'NA1_5311866195', 'NA1_5311835064', 'NA1_5311796908', 'NA1_5311753648', 'NA1_5311718523', 'NA1_5311690546', 'NA1_5311380556', 'NA1_5311375664', 'NA1_5311369349', 'NA1_5311366923', 'NA1_5311348579', 'NA1_5311207389', 'NA1_5311172372']
['NA1_5311153226', 'NA1_5311115697', 'NA1_5311092628', 'NA1_5311065086', 'NA1_5311030257', 'NA1_5310692809', 'NA1_5310665403', 'NA1_5310639906', 'NA1_5310600707', 'NA1_5310585455', 'NA1_5310531890', 'NA1_5310493611', 'NA1_5310469847', 'NA1_5310447286', 'NA1_5310414732', 'NA1_5310102609', 'NA1_5310063696', 'NA1_5310053612', 'NA1_5310008965', 'NA1_5309969480', 'NA1_5309939659', 'NA1_5309914005', 'NA1_5309897868', 'NA1_5309864634', 'NA1_5309834639', 'NA1_5309802325', 'NA1_5309457244', 'NA1_5309431420', 'NA1_5309399811', 'NA1_5309370063', 'NA1_5309336383', 'NA1_5309300872', 'NA1_5309257955', 'NA1_5309223428', 'NA1_5309197126', 'NA1_5309175259', 'NA1_5308884866', 'NA1_5308871272', 'NA1_5308761312', 'NA1_5308731541', 'NA1_5308699278', 'NA1_5308643042', 'NA1_5308606305', 'NA1_5308576781', 'NA1_5305378412', 'NA1_5305353930', 'NA1_5305329965', 'NA1_5301371191', 'NA1_5301059563', 'NA1_5301030577', 'NA1_5300146682', 'NA1_5300131577', 'NA1_5300117296', 'NA1_5300076096', 'NA1_5300041837', 'NA1_5300017943', 'NA1_5299984298', 'NA1_5299954532', 'NA1_5299919583', 'NA1_5299895775', 'NA1_5299866292', 'NA1_5296089857', 'NA1_5296072194', 'NA1_5296049623', 'NA1_5295818903', 'NA1_5295798586', 'NA1_5293529790', 'NA1_5293514669', 'NA1_5293501726', 'NA1_5293486539', 'NA1_5292875461', 'NA1_5292868218', 'NA1_5292861287', 'NA1_5292850491', 'NA1_5292838611', 'NA1_5292260975', 'NA1_5292254828', 'NA1_5292242719', 'NA1_5292236035', 'NA1_5292170996', 'NA1_5292162093', 'NA1_5292130832', 'NA1_5291552192', 'NA1_5291514544', 'NA1_5291492519', 'NA1_5291468121', 'NA1_5291437513', 'NA1_5291410101', 'NA1_5291372559', 'NA1_5291344425', 'NA1_5291318239', 'NA1_5291297962', 'NA1_5290873801', 'NA1_5290830565', 'NA1_5290779406', 'NA1_5290736453', 'NA1_5290705087', 'NA1_5290671590', 'NA1_5290634416', 'NA1_5290255964']
['NA1_5290227434', 'NA1_5289425776', 'NA1_5289396874', 'NA1_5289356365', 'NA1_5289324167', 'NA1_5289294621', 'NA1_5289264567', 'NA1_5289233741', 'NA1_5289202938', 'NA1_5288764427', 'NA1_5288493978', 'NA1_5287974112', 'NA1_5287950371', 'NA1_5287922282', 'NA1_5287876045', 'NA1_5287845163', 'NA1_5287805591', 'NA1_5287771778', 'NA1_5287283081', 'NA1_5287225133', 'NA1_5287196378', 'NA1_5287163240', 'NA1_5287127032', 'NA1_5287085911', 'NA1_5287046517', 'NA1_5287021435', 'NA1_5286657243', 'NA1_5286649041', 'NA1_5286633432', 'NA1_5286621446', 'NA1_5286069005', 'NA1_5286061719', 'NA1_5286054805', 'NA1_5284631097', 'NA1_5284599636', 'NA1_5284579811', 'NA1_5283912616', 'NA1_5283889838', 'NA1_5283859617', 'NA1_5283754801', 'NA1_5283729759', 'NA1_5283424430', 'NA1_5283412526', 'NA1_5283388527', 'NA1_5282885129', 'NA1_5282882153', 'NA1_5282835042', 'NA1_5282797897', 'NA1_5282774715', 'NA1_5282670135', 'NA1_5282493701', 'NA1_5282478663', 'NA1_5282461786', 'NA1_5282252482', 'NA1_5282246421', 'NA1_5282238573', 'NA1_5282231144', 'NA1_5282222102', 'NA1_5282200523', 'NA1_5282185886', 'NA1_5282172944', 'NA1_5281556877', 'NA1_5281462643', 'NA1_5281442168', 'NA1_5280986943', 'NA1_5280982049', 'NA1_5280970915', 'NA1_5280960879', 'NA1_5280270345', 'NA1_5280261647', 'NA1_5280245655', 'NA1_5280232482', 'NA1_5279510772', 'NA1_5279467999', 'NA1_5279460911', 'NA1_5279443329', 'NA1_5279406384', 'NA1_5279377539', 'NA1_5279352549', 'NA1_5279326742', 'NA1_5279292862', 'NA1_5279252347', 'NA1_5279220394', 'NA1_5278782931', 'NA1_5278745341', 'NA1_5278716993', 'NA1_5278683863', 'NA1_5278652421', 'NA1_5278622796', 'NA1_5278597368', 'NA1_5278452970', 'NA1_5276542663', 'NA1_5276534815', 'NA1_5276320123', 'NA1_5276312735', 'NA1_5276297009', 'NA1_5276285515', 'NA1_5276270418', 'NA1_5275661227', 'NA1_5275656161']
['NA1_5275649094', 'NA1_5273209069', 'NA1_5273007411', 'NA1_5272998259', 'NA1_5272990069', 'NA1_5272974107', 'NA1_5272327572', 'NA1_5272315817', 'NA1_5272299672', 'NA1_5272269155', 'NA1_5272247264', 'NA1_5272230455', 'NA1_5272210489', 'NA1_5272038325', 'NA1_5272019752', 'NA1_5271691184', 'NA1_5271681387', 'NA1_5271665426', 'NA1_5271587684', 'NA1_5271575319', 'NA1_5271553941', 'NA1_5271530984', 'NA1_5271497451', 'NA1_5271478301', 'NA1_5271458759', 'NA1_5271426114', 'NA1_5271385047', 'NA1_5271348873', 'NA1_5270678081', 'NA1_5270647569', 'NA1_5270622654', 'NA1_5270261330', 'NA1_5270252355', 'NA1_5270234585', 'NA1_5270224960', 'NA1_5270211878', 'NA1_5269924567', 'NA1_5269837148', 'NA1_5268809206', 'NA1_5268796672', 'NA1_5268464143', 'NA1_5268157277', 'NA1_5268137708', 'NA1_5268119183', 'NA1_5268103306', 'NA1_5267756296', 'NA1_5267742511', 'NA1_5266088444', 'NA1_5266076867', 'NA1_5266061799', 'NA1_5266051390', 'NA1_5264963856', 'NA1_5264944596', 'NA1_5263603036', 'NA1_5261864501', 'NA1_5261859238', 'NA1_5261846286', 'NA1_5261090900', 'NA1_5261082019', 'NA1_5261052688', 'NA1_5261042076', 'NA1_5261026980', 'NA1_5261009979', 'NA1_5260991064', 'NA1_5260970870', 'NA1_5260946402', 'NA1_5260671550', 'NA1_5260015244', 'NA1_5259823827', 'NA1_5259800703', 'NA1_5258599221', 'NA1_5258574729', 'NA1_5258542799', 'NA1_5258511850', 'NA1_5258474810', 'NA1_5258424702', 'NA1_5257892357', 'NA1_5257871164', 'NA1_5257841837', 'NA1_5257816452', 'NA1_5257792102', 'NA1_5257769098', 'NA1_5257747131', 'NA1_5257479358', 'NA1_5257478748', 'NA1_5257471141', 'NA1_5257445131', 'NA1_5257436145', 'NA1_5257431779', 'NA1_5257418510', 'NA1_5257393657', 'NA1_5257356302', 'NA1_5257330986', 'NA1_5257304612', 'NA1_5257290498', 'NA1_5257255392', 'NA1_5257232220', 'NA1_5257207673', 'NA1_5257188717', 'NA1_5257164597']
['NA1_5257149867', 'NA1_5256915635', 'NA1_5256905725', 'NA1_5256900842', 'NA1_5256872018', 'NA1_5256854826', 'NA1_5256824504', 'NA1_5256792862', 'NA1_5256753367', 'NA1_5256726724', 'NA1_5256704407', 'NA1_5256681730', 'NA1_5254590257', 'NA1_5254568286', 'NA1_5254545492', 'NA1_5254514728', 'NA1_5254497328', 'NA1_5254466726', 'NA1_5254097603', 'NA1_5254066042', 'NA1_5254041955', 'NA1_5254023069', 'NA1_5253993506', 'NA1_5253957291', 'NA1_5253924989', 'NA1_5253894546', 'NA1_5253870763', 'NA1_5253843636', 'NA1_5253546066', 'NA1_5253493261', 'NA1_5253464642', 'NA1_5253441364', 'NA1_5253420770', 'NA1_5253394883', 'NA1_5253361624', 'NA1_5253038731', 'NA1_5253031513', 'NA1_5253022642', 'NA1_5253014323', 'NA1_5252991922', 'NA1_5252953271', 'NA1_5252927958', 'NA1_5252889323', 'NA1_5252856413', 'NA1_5252830483', 'NA1_5252808818', 'NA1_5252423117', 'NA1_5252408105', 'NA1_5252390727', 'NA1_5252360433', 'NA1_5252341019', 'NA1_5252319371', 'NA1_5252290904', 'NA1_5252253870', 'NA1_5252220506', 'NA1_5252185026', 'NA1_5251630235', 'NA1_5251604958', 'NA1_5251585760', 'NA1_5251561519', 'NA1_5251537851', 'NA1_5251509560', 'NA1_5251193357', 'NA1_5251172355', 'NA1_5251155223', 'NA1_5251119610', 'NA1_5251093490', 'NA1_5251060818', 'NA1_5251024813', 'NA1_5250993342', 'NA1_5250958447', 'NA1_5250923228', 'NA1_5250903110', 'NA1_5250890089', 'NA1_5250860736', 'NA1_5250623344', 'NA1_5250042372', 'NA1_5250016974', 'NA1_5249998878', 'NA1_5249958599', 'NA1_5249927317', 'NA1_5249900351', 'NA1_5249875812', 'NA1_5249851878', 'NA1_5249816505', 'NA1_5247749787', 'NA1_5247730871', 'NA1_5247701550', 'NA1_5245463452', 'NA1_5244890693', 'NA1_5244669790', 'NA1_5244622706', 'NA1_5244599347', 'NA1_5243959411', 'NA1_5243927679', 'NA1_5243901876', 'NA1_5243864002', 'NA1_5241896512', 'NA1_5241878291', 'NA1_5241869627']
['NA1_5241862986', 'NA1_5241327175', 'NA1_5239771829', 'NA1_5239727635', 'NA1_5239677684', 'NA1_5239651281', 'NA1_5238245225', 'NA1_5235749130', 'NA1_5235728213', 'NA1_5235650056', 'NA1_5235609151', 'NA1_5235568371', 'NA1_5235532168', 'NA1_5235485535', 'NA1_5235025566', 'NA1_5234998506', 'NA1_5233790757', 'NA1_5233763372', 'NA1_5225360499', 'NA1_5224719067', 'NA1_5224663404', 'NA1_5224629760', 'NA1_5224612803', 'NA1_5224165036', 'NA1_5224139143', 'NA1_5224104730', 'NA1_5223136867', 'NA1_5223107214', 'NA1_5223077893', 'NA1_5223050916', 'NA1_5223038860', 'NA1_5222727901', 'NA1_5222682201', 'NA1_5222649868', 'NA1_5222603573', 'NA1_5222565917', 'NA1_5222532901', 'NA1_5222505270', 'NA1_5222479445', 'NA1_5222452553', 'NA1_5221912505', 'NA1_5221878354', 'NA1_5221848067', 'NA1_5221815816', 'NA1_5221779524', 'NA1_5221751442', 'NA1_5221734861', 'NA1_5221370844', 'NA1_5221334695', 'NA1_5221278703', 'NA1_5220515284', 'NA1_5220474890', 'NA1_5220426374', 'NA1_5220404042', 'NA1_5219747682', 'NA1_5219703499', 'NA1_5219669766', 'NA1_5219623470', 'NA1_5219592921', 'NA1_5219553176', 'NA1_5219515568', 'NA1_5219483119', 'NA1_5219062833', 'NA1_5219014659', 'NA1_5218181765', 'NA1_5218046241', 'NA1_5218008193', 'NA1_5216949493', 'NA1_5216907596', 'NA1_5216865001', 'NA1_5216825475', 'NA1_5216772527', 'NA1_5216711724', 'NA1_5216668360', 'NA1_5216632957', 'NA1_5216601788', 'NA1_5216573737', 'NA1_5216346874', 'NA1_5216327574', 'NA1_5216300097', 'NA1_5216271870', 'NA1_5216241994', 'NA1_5214457656', 'NA1_5214415272', 'NA1_5214351802', 'NA1_5214286309', 'NA1_5214238977', 'NA1_5214189904', 'NA1_5214155342', 'NA1_5214112112', 'NA1_5214084008', 'NA1_5214060233', 'NA1_5214034652', 'NA1_5214002375', 'NA1_5213567965', 'NA1_5213529150', 'NA1_5213481634', 'NA1_5213436932', 'NA1_5213402382', 'NA1_5213366427']
['NA1_5213330006', 'NA1_5213288299', 'NA1_5213241618', 'NA1_5213206158', 'NA1_5213175084', 'NA1_5213141533', 'NA1_5212500475', 'NA1_5212482465', 'NA1_5212458326', 'NA1_5212432917', 'NA1_5212394559', 'NA1_5212372668', 'NA1_5212365933', 'NA1_5212350620', 'NA1_5212346012', 'NA1_5212285891', 'NA1_5212261227', 'NA1_5212234743', 'NA1_5212208070', 'NA1_5212180143', 'NA1_5212134063', 'NA1_5212089576', 'NA1_5212051197', 'NA1_5211612730', 'NA1_5211591816', 'NA1_5211569028', 'NA1_5211551315', 'NA1_5211529548', 'NA1_5211493790', 'NA1_5211454252', 'NA1_5211399559', 'NA1_5211370884', 'NA1_5210840617', 'NA1_5210825379', 'NA1_5210791351', 'NA1_5210761449', 'NA1_5210732593', 'NA1_5210699893', 'NA1_5210656641', 'NA1_5210614041', 'NA1_5210587559', 'NA1_5210025202', 'NA1_5209996989', 'NA1_5209967988', 'NA1_5209937889', 'NA1_5209896626', 'NA1_5209855677', 'NA1_5209825203', 'NA1_5209768969', 'NA1_5209734888', 'NA1_5208538048', 'NA1_5208506054', 'NA1_5208482467', 'NA1_5208445084', 'NA1_5208406447', 'NA1_5208367771', 'NA1_5208336929', 'NA1_5207868190', 'NA1_5207849384', 'NA1_5207826173', 'NA1_5207798861', 'NA1_5207764364', 'NA1_5207740386', 'NA1_5207703274', 'NA1_5207663218', 'NA1_5207633116', 'NA1_5207185375', 'NA1_5207169405', 'NA1_5207143104', 'NA1_5207114896', 'NA1_5207073224', 'NA1_5207038511', 'NA1_5207000250', 'NA1_5206961838', 'NA1_5206923778', 'NA1_5206886614', 'NA1_5206854559', 'NA1_5206835425', 'NA1_5205788176', 'NA1_5205769080', 'NA1_5205731898', 'NA1_5205708749', 'NA1_5205666635', 'NA1_5205612810', 'NA1_5205582278', 'NA1_5205548344', 'NA1_5205489355', 'NA1_5204930628', 'NA1_5204903731', 'NA1_5204885753', 'NA1_5204853651', 'NA1_5204798773', 'NA1_5204765879', 'NA1_5204740864', 'NA1_5204702001', 'NA1_5204660198', 'NA1_5204154279', 'NA1_5204130220', 'NA1_5204089659', 'NA1_5204044737']
['NA1_5204008485', 'NA1_5203968654', 'NA1_5203920983', 'NA1_5203883089', 'NA1_5203845274', 'NA1_5203365188', 'NA1_5203345105', 'NA1_5203328092', 'NA1_5203308855', 'NA1_5203277245', 'NA1_5203236061', 'NA1_5203195424', 'NA1_5203161867', 'NA1_5203110145', 'NA1_5203080137', 'NA1_5203041819', 'NA1_5203012706', 'NA1_5202991222', 'NA1_5202550171', 'NA1_5202515115', 'NA1_5202494469', 'NA1_5202471113', 'NA1_5202433245', 'NA1_5202396061', 'NA1_5202364339', 'NA1_5202325529', 'NA1_5202288505', 'NA1_5202264663', 'NA1_5194503720', 'NA1_5193227347', 'NA1_5193198078', 'NA1_5193169106', 'NA1_5193108439', 'NA1_5193069297', 'NA1_5193037765', 'NA1_5192987265', 'NA1_5192043019', 'NA1_5192010701', 'NA1_5190713150', 'NA1_5190682901', 'NA1_5190628013', 'NA1_5190594099', 'NA1_5190565221', 'NA1_5190524545', 'NA1_5189982845', 'NA1_5189944494', 'NA1_5189903743', 'NA1_5189865614', 'NA1_5189833797', 'NA1_5189793782', 'NA1_5189753793', 'NA1_5189716966', 'NA1_5189681622', 'NA1_5189662724', 'NA1_5189642220', 'NA1_5189618100', 'NA1_5189588583', 'NA1_5189567462', 'NA1_5188453401', 'NA1_5188407815', 'NA1_5188376932', 'NA1_5188343071', 'NA1_5188292760', 'NA1_5188258746', 'NA1_5188234272', 'NA1_5188205304', 'NA1_5188164712', 'NA1_5188141494', 'NA1_5188107363', 'NA1_5188079063', 'NA1_5187578448', 'NA1_5187542627', 'NA1_5187503964', 'NA1_5187448449', 'NA1_5187403628', 'NA1_5187366327', 'NA1_5187317522', 'NA1_5187279105', 'NA1_5187252316', 'NA1_5187215938', 'NA1_5186738051', 'NA1_5186707246', 'NA1_5186682800', 'NA1_5186649753', 'NA1_5186614275', 'NA1_5186600306', 'NA1_5186561501', 'NA1_5186514053', 'NA1_5186476498', 'NA1_5186429300', 'NA1_5186398432', 'NA1_5186364356', 'NA1_5185861540', 'NA1_5185831027', 'NA1_5185790654', 'NA1_5185768598', 'NA1_5185729570', 'NA1_5185692799', 'NA1_5185646731', 'NA1_5185599448']
['NA1_5185567216', 'NA1_5180652078', 'NA1_5180485659', 'NA1_5179443546', 'NA1_5176501395', 'NA1_5176336691', 'NA1_5176306794', 'NA1_5176282883', 'NA1_5176234308', 'NA1_5171790939', 'NA1_5171317341', 'NA1_5171295324', 'NA1_5170507177', 'NA1_5170477756', 'NA1_5167365938', 'NA1_5167320761', 'NA1_5167275990', 'NA1_5167037216', 'NA1_5167010741']
[]

In [37]:
final_df

,match_id,ally_champs,enemy_champs,win
0,NA1_5185567216,"[Gnar, Sylas, Yone, Swain, Pyke]","[Irelia, Morgana, AurelionSol, Ezreal, Karma]",0.0
1,NA1_5180652078,"[Tryndamere, Sylas, Gragas, Jinx, Lulu]","[Olaf, Graves, Talon, Ekko, Zoe]",1.0
2,NA1_5180485659,"[Brand, Vi, Katarina, Ashe, Janna]","[Gwen, XinZhao, Yone, Jhin, Karma]",1.0
3,NA1_5179443546,"[Rengar, Warwick, Aurora, Kalista, Braum]","[Nocturne, Jayce, AurelionSol, Jinx, TahmKench]",0.0
4,NA1_5176501395,"[DrMundo, Sylas, Chogath, Thresh, Caitlyn]","[Shen, Viego, Naafiri, KogMaw, Janna]",0.0
...,...,...,...,...
804,NA1_5311690546,"[Teemo, LeeSin, Ahri, Sivir, Lulu]","[KSante, Pantheon, Sylas, Xayah, Elise]",1.0
805,NA1_5311380556,"[Kayle, Milio, Amumu, Xayah, Hwei]","[Ashe, Pantheon, Sejuani, Mordekaiser, Vladimir]",0.0
806,NA1_5311375664,"[Ziggs, Twitch, Kindred, Galio, Maokai]","[Syndra, Caitlyn, XinZhao, Senna, Ezreal]",0.0
807,NA1_5311369349,"[Tristana, Blitzcrank, Smolder, Malzahar, Monk...","[Vladimir, Ornn, DrMundo, Lux, Akshan]",1.0
808,NA1_5311366923,"[Alistar, Singed, Orianna, Zoe, Graves]","[Gragas, Rumble, Senna, Tristana, Rakan]",0.0

In [38]:
def get_all_champs():
    version = requests.get("https://ddragon.leagueoflegends.com/api/versions.json").json()[0]
    api_url = f"https://ddragon.leagueoflegends.com/cdn/{version}/data/en_US/champion.json"

    champs_url = f'https://ddragon.leagueoflegends.com/cdn/{version}/data/en_US/champion.json'
    resp = requests.get(champs_url).json()

    champ_data = resp['data']
    champ_names = list(champ_data.keys())

    return champ_names

In [39]:
final_df = final_df.drop_duplicates(subset = ['match_id'])
final_df

,match_id,ally_champs,enemy_champs,win
0,NA1_5185567216,"[Gnar, Sylas, Yone, Swain, Pyke]","[Irelia, Morgana, AurelionSol, Ezreal, Karma]",0.0
1,NA1_5180652078,"[Tryndamere, Sylas, Gragas, Jinx, Lulu]","[Olaf, Graves, Talon, Ekko, Zoe]",1.0
2,NA1_5180485659,"[Brand, Vi, Katarina, Ashe, Janna]","[Gwen, XinZhao, Yone, Jhin, Karma]",1.0
3,NA1_5179443546,"[Rengar, Warwick, Aurora, Kalista, Braum]","[Nocturne, Jayce, AurelionSol, Jinx, TahmKench]",0.0
4,NA1_5176501395,"[DrMundo, Sylas, Chogath, Thresh, Caitlyn]","[Shen, Viego, Naafiri, KogMaw, Janna]",0.0
...,...,...,...,...
804,NA1_5311690546,"[Teemo, LeeSin, Ahri, Sivir, Lulu]","[KSante, Pantheon, Sylas, Xayah, Elise]",1.0
805,NA1_5311380556,"[Kayle, Milio, Amumu, Xayah, Hwei]","[Ashe, Pantheon, Sejuani, Mordekaiser, Vladimir]",0.0
806,NA1_5311375664,"[Ziggs, Twitch, Kindred, Galio, Maokai]","[Syndra, Caitlyn, XinZhao, Senna, Ezreal]",0.0
807,NA1_5311369349,"[Tristana, Blitzcrank, Smolder, Malzahar, Monk...","[Vladimir, Ornn, DrMundo, Lux, Akshan]",1.0
808,NA1_5311366923,"[Alistar, Singed, Orianna, Zoe, Graves]","[Gragas, Rumble, Senna, Tristana, Rakan]",0.0

In [40]:
final_df.to_csv('matches_bwipo.csv', index = False)

In [41]:
#One Hot Encoding

all_champs = get_all_champs()

mlb_allies = MultiLabelBinarizer(classes=all_champs)
mlb_enemies = MultiLabelBinarizer(classes=all_champs)

ally_encoded = pd.DataFrame(mlb_allies.fit_transform(final_df['ally_champs']),
                            columns=[f'ally_{c}' for c in mlb_allies.classes_],
                            index=final_df.index)

enemy_encoded = pd.DataFrame(mlb_enemies.fit_transform(final_df['enemy_champs']),
                             columns=[f'enemy_{c}' for c in mlb_enemies.classes_],
                             index=final_df.index)

one_hot = pd.concat([final_df[['match_id']], ally_encoded, enemy_encoded, final_df['win']], axis=1)

one_hot

c:\Users\minaz\OneDrive\Desktop\personal\win_predictor\env\Lib\site-packages\sklearn\preprocessing\_label.py:909: UserWarning: unknown class(es) ['FiddleSticks'] will be ignored
  warnings.warn(

,match_id,ally_Aatrox,ally_Ahri,ally_Akali,ally_Akshan,ally_Alistar,ally_Ambessa,ally_Amumu,ally_Anivia,ally_Annie,...,enemy_Yorick,enemy_Yuumi,enemy_Zac,enemy_Zed,enemy_Zeri,enemy_Ziggs,enemy_Zilean,enemy_Zoe,enemy_Zyra,win
0,NA1_5185567216,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,NA1_5180652078,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1.0
2,NA1_5180485659,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
3,NA1_5179443546,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,NA1_5176501395,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804,NA1_5311690546,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
805,NA1_5311380556,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
806,NA1_5311375664,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
807,NA1_5311369349,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
808,NA1_5311366923,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [42]:
one_hot.to_csv('one_hot_bwipo.csv', index = False)

In [47]:
csv_files = ['matches_pob.csv', 'matches_dl.csv', 'matches_spica.csv', 'matches_stunt.csv', 'matches_bwipo.csv']

df_list = [pd.read_csv(file) for file in csv_files]

combined_df = pd.concat(df_list, ignore_index=True)

combined_df.to_csv('all_matches.csv', index = False)

In [48]:
csv_files = ['one_hot_pob.csv', 'one_hot_dl.csv', 'one_hot_spica.csv', 'one_hot_stunt.csv', 'one_hot_bwipo.csv']

df_list = [pd.read_csv(file) for file in csv_files]

combined_df = pd.concat(df_list, ignore_index=True)

combined_df.to_csv('all_one_hot.csv', index = False)