In [45]:
import requests
import passwords as pw
import pandas as pd
import time
from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
def get_puuid(game_name, tag_line, api_key):
    api_url = (f"https://americas.api.riotgames.com/riot/account/v1/accounts/by-riot-id/{game_name}/{tag_line}?api_key=" + api_key)
    resp = requests.get(api_url)
    player_info = resp.json()
    return player_info['puuid']

In [57]:
get_puuid('Pobelter', 'NA1', pw.API_KEY)

'3JL0_mjV_ql6I4cONFQ2wu4Lxb2pA1qzXlQPGR-zQYxbAnZ-np57GDRVvCFCGKiO3vnfPlQNkISi6g'

In [3]:
def get_active_game(puuid, api_key):
    headers = {"X-Riot-Token": api_key}
    api_url = (f"https://na1.api.riotgames.com/lol/spectator/v5/active-games/by-summoner/{puuid}")
    resp = requests.get(api_url, headers = headers)
    game_data = resp.json()

    champion_ids = [player['championId'] for player in game_data['participants']]
    return champion_ids

In [4]:
def champion_names(champ_ids):
    version = requests.get("https://ddragon.leagueoflegends.com/api/versions.json").json()[0]
    api_url = f"https://ddragon.leagueoflegends.com/cdn/{version}/data/en_US/champion.json"
    champs = requests.get(api_url).json()["data"]
    id_to_name = {int(name["key"]): champ for champ, name in champs.items()}
    
    champ_names = [id_to_name.get(id, "Unknown") for id in champ_ids]
    print("Champions in game:", champ_names)

In [32]:
def get_match_ids(start, count, puuid, api_key):
    api_url = (f"https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{puuid}/ids?start={start}&count={count}&api_key={api_key}")
    resp = requests.get(api_url)
    match_ids = resp.json()
    return match_ids

In [33]:
def get_match_data(match_id, api_key):
    api_url = ("https://americas.api.riotgames.com/lol/match/v5/matches/" + match_id +
               "?api_key=" + api_key)
    try:
        resp = requests.get(api_url)
        match_data = resp.json()
        return match_data
    except:
        return None

In [ ]:
def pull_matches(start, count = 100):
    dataframe = []
    match_ids = get_match_ids(start, count, pw.pob_PUUID, pw.API_KEY)
    print(match_ids)
    for match in match_ids:
        match_data = get_match_data(match, pw.API_KEY)
        if not match_data or 'info' not in match_data:
            continue

        participants = match_data['info']['participants']
        
        player = next((p for p in participants if p['puuid'] == pw.pob_PUUID), None)
        player_team = player['teamId']
        
        ally_champs = [p['championName'] for p in participants if p['teamId'] == player_team]
        enemy_champs = [p['championName'] for p in participants if p['teamId'] != player_team]
        
        dataframe.append({
            'match_id': match,
            'ally_champs': ally_champs,
            'enemy_champs': enemy_champs
        })
    
    return pd.DataFrame(dataframe)

In [81]:
final_df = pd.DataFrame(columns = ['match_id', 'ally_champs', 'enemy_champs'])

In [82]:
iterations = 10
start = 0
for i in range(iterations):
    temp = pull_matches(start, 100)
    start += 100
    final_df = pd.concat([temp, final_df], ignore_index = True)
    time.sleep(125)

['NA1_5311207389', 'NA1_5311182278', 'NA1_5311153226', 'NA1_5311129503', 'NA1_5311108877', 'NA1_5311074538', 'NA1_5311057970', 'NA1_5311038011', 'NA1_5311020103', 'NA1_5307377806', 'NA1_5307348286', 'NA1_5307326746', 'NA1_5307305138', 'NA1_5307278676', 'NA1_5307264991', 'NA1_5297341663', 'NA1_5297309040', 'NA1_5297275657', 'NA1_5297254056', 'NA1_5297229937', 'NA1_5297193392', 'NA1_5297164219', 'NA1_5296226791', 'NA1_5296191049', 'NA1_5296147274', 'NA1_5296118301', 'NA1_5296084090', 'NA1_5296061364', 'NA1_5296029703', 'NA1_5296004233', 'NA1_5295983342', 'NA1_5295963246', 'NA1_5295934236', 'NA1_5295917896', 'NA1_5295903312', 'NA1_5295880545', 'NA1_5294108653', 'NA1_5294065372', 'NA1_5294023475', 'NA1_5293985548', 'NA1_5292699678', 'NA1_5292668414', 'NA1_5292636730', 'NA1_5292588079', 'NA1_5286559276', 'NA1_5286527529', 'NA1_5286496319', 'NA1_5286473981', 'NA1_5286432583', 'NA1_5286404934', 'NA1_5286366777', 'NA1_5286336812', 'NA1_5285974436', 'NA1_5285945316', 'NA1_5285913989', 'NA1_5285888060', 'NA1_5285207531', 'NA1_5285149543', 'NA1_5285125201', 'NA1_5285102361', 'NA1_5284553998', 'NA1_5284520995', 'NA1_5284497310', 'NA1_5283967506', 'NA1_5283940020', 'NA1_5283911578', 'NA1_5283879375', 'NA1_5283852471', 'NA1_5283754801', 'NA1_5283729759', 'NA1_5282766127', 'NA1_5282748975', 'NA1_5282210402', 'NA1_5282203113', 'NA1_5281872883', 'NA1_5281828200', 'NA1_5281467770', 'NA1_5281450080', 'NA1_5281419372', 'NA1_5281385574', 'NA1_5281353710', 'NA1_5281321994', 'NA1_5281286619', 'NA1_5280769494', 'NA1_5280737197', 'NA1_5280702090', 'NA1_5280691320', 'NA1_5279369745', 'NA1_5279326742', 'NA1_5279296741', 'NA1_5279265233', 'NA1_5279240136', 'NA1_5279204376', 'NA1_5279169728', 'NA1_5278817897', 'NA1_5278806250', 'NA1_5278796589', 'NA1_5278695422', 'NA1_5278655654', 'NA1_5278622796']
['NA1_5278597368', 'NA1_5278452970', 'NA1_5278120098', 'NA1_5278097341', 'NA1_5278074867', 'NA1_5278050755', 'NA1_5278031253', 'NA1_5278006855', 'NA1_5277973548', 'NA1_5277942934', 'NA1_5277801750', 'NA1_5276551710', 'NA1_5276542663', 'NA1_5276534815', 'NA1_5276237119', 'NA1_5276204224', 'NA1_5276177781', 'NA1_5276137602', 'NA1_5276097439', 'NA1_5276053688', 'NA1_5274581489', 'NA1_5274099202', 'NA1_5274063669', 'NA1_5274016718', 'NA1_5273987097', 'NA1_5273965329', 'NA1_5273879113', 'NA1_5273469352', 'NA1_5273443869', 'NA1_5273401047', 'NA1_5273371766', 'NA1_5273341128', 'NA1_5273318167', 'NA1_5273291538', 'NA1_5273218965', 'NA1_5273209069', 'NA1_5272864389', 'NA1_5272844439', 'NA1_5272827443', 'NA1_5272809775', 'NA1_5272787990', 'NA1_5272765905', 'NA1_5272719669', 'NA1_5272696452', 'NA1_5272288141', 'NA1_5272261990', 'NA1_5272209829', 'NA1_5272179569', 'NA1_5272038325', 'NA1_5272019752', 'NA1_5271590900', 'NA1_5271564619', 'NA1_5271524426', 'NA1_5271477839', 'NA1_5271432678', 'NA1_5271383580', 'NA1_5271348873', 'NA1_5270902835', 'NA1_5270884932', 'NA1_5270857962', 'NA1_5270814524', 'NA1_5270783089', 'NA1_5270749661', 'NA1_5270735109', 'NA1_5270704441', 'NA1_5270676713', 'NA1_5270647569', 'NA1_5270624111', 'NA1_5269837148', 'NA1_5269415660', 'NA1_5269384285', 'NA1_5269355568', 'NA1_5269338899', 'NA1_5269301630', 'NA1_5269269295', 'NA1_5269223878', 'NA1_5269188181', 'NA1_5269157409', 'NA1_5269131482', 'NA1_5269103674', 'NA1_5268744532', 'NA1_5268721832', 'NA1_5268684575', 'NA1_5268656571', 'NA1_5268626929', 'NA1_5268464143', 'NA1_5268360021', 'NA1_5267838281', 'NA1_5267820695', 'NA1_5267806459', 'NA1_5267794085', 'NA1_5267782931', 'NA1_5267773223', 'NA1_5267745354', 'NA1_5267721439', 'NA1_5267370329', 'NA1_5267339867', 'NA1_5267300807', 'NA1_5267258995', 'NA1_5267224567']
['NA1_5267178965', 'NA1_5267154956', 'NA1_5266781909', 'NA1_5266757054', 'NA1_5266721914', 'NA1_5266681712', 'NA1_5265242845', 'NA1_5265217421', 'NA1_5265177439', 'NA1_5265132634', 'NA1_5265077719', 'NA1_5265053030', 'NA1_5265046462', 'NA1_5264963856', 'NA1_5264940173', 'NA1_5264917240', 'NA1_5264462438', 'NA1_5264424481', 'NA1_5264384452', 'NA1_5264346543', 'NA1_5264308918', 'NA1_5264276219', 'NA1_5264241025', 'NA1_5263924593', 'NA1_5263906314', 'NA1_5263871280', 'NA1_5263846755', 'NA1_5263813642', 'NA1_5263777741', 'NA1_5263734576', 'NA1_5263603036', 'NA1_5263208137', 'NA1_5263068723', 'NA1_5262537638', 'NA1_5262526696', 'NA1_5262428789', 'NA1_5262405206', 'NA1_5262360929', 'NA1_5262327200', 'NA1_5262298033', 'NA1_5261833692', 'NA1_5261813352', 'NA1_5261797605', 'NA1_5261764117', 'NA1_5261723389', 'NA1_5261676546', 'NA1_5261642627', 'NA1_5261622055', 'NA1_5261581395', 'NA1_5261541905', 'NA1_5261011184', 'NA1_5260958501', 'NA1_5260935650', 'NA1_5260897414', 'NA1_5260857876', 'NA1_5260822074', 'NA1_5260791365', 'NA1_5260763546', 'NA1_5260727031', 'NA1_5260671550', 'NA1_5260158389', 'NA1_5260151849', 'NA1_5260133323', 'NA1_5260099678', 'NA1_5260054178', 'NA1_5260015244', 'NA1_5259823827', 'NA1_5259800703', 'NA1_5259344626', 'NA1_5259314709', 'NA1_5259257817', 'NA1_5259222549', 'NA1_5258511850', 'NA1_5258460672', 'NA1_5258435552', 'NA1_5258169503', 'NA1_5258149002', 'NA1_5257881589', 'NA1_5257863410', 'NA1_5257828097', 'NA1_5257807795', 'NA1_5257773881', 'NA1_5257747131', 'NA1_5257725769', 'NA1_5257705340', 'NA1_5257688349', 'NA1_5257673170', 'NA1_5257646629', 'NA1_5257629602', 'NA1_5257614681', 'NA1_5257605219', 'NA1_5257591228', 'NA1_5257420639', 'NA1_5257412185', 'NA1_5257401124', 'NA1_5257391377', 'NA1_5257356576', 'NA1_5257330986', 'NA1_5257304612', 'NA1_5257290498']
['NA1_5257255392', 'NA1_5257232220', 'NA1_5257207673', 'NA1_5257188717', 'NA1_5257164597', 'NA1_5257149867', 'NA1_5256867613', 'NA1_5256852035', 'NA1_5256823609', 'NA1_5256801293', 'NA1_5256246105', 'NA1_5256225819', 'NA1_5255611982', 'NA1_5255587526', 'NA1_5255557190', 'NA1_5255532940', 'NA1_5255511048', 'NA1_5255483215', 'NA1_5255461834', 'NA1_5255366818', 'NA1_5255348781', 'NA1_5255106279', 'NA1_5255083922', 'NA1_5255055950', 'NA1_5255034491', 'NA1_5255012724', 'NA1_5254988260', 'NA1_5254952689', 'NA1_5254920687', 'NA1_5254907489', 'NA1_5254891757', 'NA1_5254873333', 'NA1_5254863058', 'NA1_5254598979', 'NA1_5254577464', 'NA1_5254559476', 'NA1_5254528598', 'NA1_5254501543', 'NA1_5254477656', 'NA1_5254330854', 'NA1_5254078783', 'NA1_5254051867', 'NA1_5254014754', 'NA1_5253981847', 'NA1_5253944499', 'NA1_5253911322', 'NA1_5253882582', 'NA1_5253863840', 'NA1_5253842888', 'NA1_5253483221', 'NA1_5253460818', 'NA1_5253421404', 'NA1_5253387506', 'NA1_5253361624', 'NA1_5252911311', 'NA1_5252873014', 'NA1_5252843309', 'NA1_5252810965', 'NA1_5252788798', 'NA1_5252765885', 'NA1_5252733641', 'NA1_5252018104', 'NA1_5251516964', 'NA1_5251491332', 'NA1_5251460697', 'NA1_5251090148', 'NA1_5251056331', 'NA1_5251014843', 'NA1_5250977931', 'NA1_5250952335', 'NA1_5250923228', 'NA1_5250903110', 'NA1_5250890089', 'NA1_5250595653', 'NA1_5250568398', 'NA1_5250546072', 'NA1_5250514465', 'NA1_5250484075', 'NA1_5250458341', 'NA1_5250430666', 'NA1_5250406368', 'NA1_5250055081', 'NA1_5250017606', 'NA1_5249990394', 'NA1_5249958599', 'NA1_5249943164', 'NA1_5249913685', 'NA1_5249886205', 'NA1_5249871278', 'NA1_5249841734', 'NA1_5249562666', 'NA1_5249517547', 'NA1_5249489072', 'NA1_5249453907', 'NA1_5249416166', 'NA1_5249382621', 'NA1_5249345807', 'NA1_5249319915', 'NA1_5249290963', 'NA1_5249266570']
['NA1_5249242376', 'NA1_5249226786', 'NA1_5249213771', 'NA1_5249019998', 'NA1_5249012489', 'NA1_5248995258', 'NA1_5248332185', 'NA1_5248309381', 'NA1_5248279221', 'NA1_5248245423', 'NA1_5248214792', 'NA1_5248181354', 'NA1_5248143595', 'NA1_5248121959', 'NA1_5248095171', 'NA1_5248069572', 'NA1_5248043387', 'NA1_5248016702', 'NA1_5247573764', 'NA1_5247544751', 'NA1_5247507621', 'NA1_5246474523', 'NA1_5246444258', 'NA1_5246414573', 'NA1_5246385224', 'NA1_5246352402', 'NA1_5246329205', 'NA1_5246309190', 'NA1_5246284429', 'NA1_5246269231', 'NA1_5246250493', 'NA1_5246224440', 'NA1_5245866067', 'NA1_5245825264', 'NA1_5245795400', 'NA1_5245767610', 'NA1_5245755391', 'NA1_5245729342', 'NA1_5244812276', 'NA1_5244782699', 'NA1_5244742893', 'NA1_5244707648', 'NA1_5244669790', 'NA1_5244622706', 'NA1_5244599347', 'NA1_5244180214', 'NA1_5244149868', 'NA1_5244117452', 'NA1_5244085603', 'NA1_5244061266', 'NA1_5244040083', 'NA1_5244029762', 'NA1_5243993603', 'NA1_5243959411', 'NA1_5243927679', 'NA1_5243901876', 'NA1_5243864002', 'NA1_5243483605', 'NA1_5243434403', 'NA1_5243401926', 'NA1_5243381854', 'NA1_5243347414', 'NA1_5243321245', 'NA1_5242993298', 'NA1_5242978380', 'NA1_5242955035', 'NA1_5242918133', 'NA1_5242888366', 'NA1_5242857700', 'NA1_5242834476', 'NA1_5242801404', 'NA1_5242761341', 'NA1_5242737880', 'NA1_5242713200', 'NA1_5242686586', 'NA1_5242429594', 'NA1_5242400478', 'NA1_5242358619', 'NA1_5242325532', 'NA1_5242289294', 'NA1_5242242739', 'NA1_5242227736', 'NA1_5242185275', 'NA1_5241822929', 'NA1_5241786531', 'NA1_5241760002', 'NA1_5241726996', 'NA1_5241698965', 'NA1_5241677142', 'NA1_5241646712', 'NA1_5241624925', 'NA1_5241594586', 'NA1_5241575355', 'NA1_5241563893', 'NA1_5241253942', 'NA1_5241239862', 'NA1_5241214867', 'NA1_5241182925', 'NA1_5241153950', 'NA1_5241138111']
['NA1_5241097769', 'NA1_5241065974', 'NA1_5241043774', 'NA1_5241028296', 'NA1_5240999310', 'NA1_5240977175', 'NA1_5240957114', 'NA1_5240649657', 'NA1_5240635900', 'NA1_5240604439', 'NA1_5240578204', 'NA1_5240545105', 'NA1_5240519750', 'NA1_5240484832', 'NA1_5240465456', 'NA1_5240439221', 'NA1_5231092390', 'NA1_5230441908', 'NA1_5230408714', 'NA1_5230384328', 'NA1_5230361060', 'NA1_5230319241', 'NA1_5230281634', 'NA1_5230259122', 'NA1_5230229150', 'NA1_5230201412', 'NA1_5229630749', 'NA1_5229590762', 'NA1_5229567177', 'NA1_5229552279', 'NA1_5229048853', 'NA1_5229002865', 'NA1_5228964721', 'NA1_5228936887', 'NA1_5228900533', 'NA1_5228859372', 'NA1_5228396944', 'NA1_5228372415', 'NA1_5228332382', 'NA1_5228298137', 'NA1_5228262985', 'NA1_5228226284', 'NA1_5228198475', 'NA1_5228176372', 'NA1_5228149669', 'NA1_5228126968', 'NA1_5228098274', 'NA1_5227723990', 'NA1_5227685069', 'NA1_5227650464', 'NA1_5227620415', 'NA1_5227587746', 'NA1_5227555930', 'NA1_5227522302', 'NA1_5227495815', 'NA1_5227466979', 'NA1_5227438449', 'NA1_5227415056', 'NA1_5227059333', 'NA1_5227031381', 'NA1_5227001598', 'NA1_5226969599', 'NA1_5226923731', 'NA1_5226891671', 'NA1_5226853870', 'NA1_5226832128', 'NA1_5226799110', 'NA1_5226782507', 'NA1_5226766682', 'NA1_5226748953', 'NA1_5226725504', 'NA1_5226411187', 'NA1_5226258912', 'NA1_5226231453', 'NA1_5226215148', 'NA1_5225616127', 'NA1_5225567697', 'NA1_5225524461', 'NA1_5225496323', 'NA1_5225459489', 'NA1_5225428822', 'NA1_5225394036', 'NA1_5225360640', 'NA1_5225328066', 'NA1_5225303482', 'NA1_5225276897', 'NA1_5223935693', 'NA1_5223912449', 'NA1_5223888575', 'NA1_5223862483', 'NA1_5223826690', 'NA1_5223807931', 'NA1_5223789426', 'NA1_5223510271', 'NA1_5223487871', 'NA1_5223467236', 'NA1_5223442204', 'NA1_5223409146', 'NA1_5223375400', 'NA1_5223344176']
['NA1_5223315874', 'NA1_5223282015', 'NA1_5223229358', 'NA1_5223202593', 'NA1_5223185861', 'NA1_5223165061', 'NA1_5223145314', 'NA1_5223120203', 'NA1_5223095904', 'NA1_5222750523', 'NA1_5222711791', 'NA1_5222681982', 'NA1_5222648438', 'NA1_5222614337', 'NA1_5222585851', 'NA1_5221358266', 'NA1_5221317499', 'NA1_5220397673', 'NA1_5219764836', 'NA1_5219714209', 'NA1_5219669766', 'NA1_5219623470', 'NA1_5219581238', 'NA1_5219537460', 'NA1_5219507345', 'NA1_5219112291', 'NA1_5219090890', 'NA1_5219062833', 'NA1_5219014659', 'NA1_5218991322', 'NA1_5218963966', 'NA1_5218912551', 'NA1_5213648410', 'NA1_5213619237', 'NA1_5213582529', 'NA1_5213538922', 'NA1_5213508838', 'NA1_5213466325', 'NA1_5213438745', 'NA1_5210791351', 'NA1_5210765924', 'NA1_5210726452', 'NA1_5210703838', 'NA1_5210671537', 'NA1_5210633787', 'NA1_5210595167', 'NA1_5210564196', 'NA1_5210539147', 'NA1_5210500656', 'NA1_5209896626', 'NA1_5209863840', 'NA1_5209828631', 'NA1_5209788645', 'NA1_5209742570', 'NA1_5209717975', 'NA1_5209696873', 'NA1_5209109190', 'NA1_5209067304', 'NA1_5209033135', 'NA1_5209003828', 'NA1_5208978682', 'NA1_5208950813', 'NA1_5208927929', 'NA1_5208887241', 'NA1_5208861819', 'NA1_5208844025', 'NA1_5208826873', 'NA1_5204961435', 'NA1_5204942781', 'NA1_5204917462', 'NA1_5204886645', 'NA1_5204848691', 'NA1_5204809568', 'NA1_5204770555', 'NA1_5204742831', 'NA1_5204704556', 'NA1_5204675044', 'NA1_5204655304', 'NA1_5204617325', 'NA1_5204588859', 'NA1_5204561907', 'NA1_5204531380', 'NA1_5204504083', 'NA1_5204103346', 'NA1_5204058250', 'NA1_5204020282', 'NA1_5203983012', 'NA1_5203959007', 'NA1_5203916234', 'NA1_5203880147', 'NA1_5203858297', 'NA1_5203829532', 'NA1_5203793435', 'NA1_5203762959', 'NA1_5203733302', 'NA1_5203706778', 'NA1_5203683186', 'NA1_5203277245', 'NA1_5203238961', 'NA1_5203196067']
['NA1_5203157585', 'NA1_5203110145', 'NA1_5203074885', 'NA1_5203033202', 'NA1_5202978470', 'NA1_5202948330', 'NA1_5202916255', 'NA1_5202883845', 'NA1_5202850594', 'NA1_5202825342', 'NA1_5202519016', 'NA1_5202490806', 'NA1_5202456505', 'NA1_5202425974', 'NA1_5202391823', 'NA1_5202357950', 'NA1_5202323522', 'NA1_5202295941', 'NA1_5202264663', 'NA1_5202242435', 'NA1_5202188044', 'NA1_5194851907', 'NA1_5194829941', 'NA1_5194802501', 'NA1_5194772845', 'NA1_5194739451', 'NA1_5194695566', 'NA1_5194650174', 'NA1_5194604375', 'NA1_5194557588', 'NA1_5194000218', 'NA1_5193973052', 'NA1_5193941595', 'NA1_5193905158', 'NA1_5193856740', 'NA1_5193824624', 'NA1_5193736934', 'NA1_5193705216', 'NA1_5193141639', 'NA1_5193099171', 'NA1_5193069297', 'NA1_5193028987', 'NA1_5192996421', 'NA1_5192954994', 'NA1_5192922272', 'NA1_5192901652', 'NA1_5192878315', 'NA1_5192845688', 'NA1_5192822979', 'NA1_5192421856', 'NA1_5192388212', 'NA1_5192333118', 'NA1_5192279951', 'NA1_5192250710', 'NA1_5192215023', 'NA1_5192171273', 'NA1_5192141415', 'NA1_5192121868', 'NA1_5192078499', 'NA1_5192062991', 'NA1_5192034708', 'NA1_5190083641', 'NA1_5190051487', 'NA1_5190011403', 'NA1_5189909225', 'NA1_5189875027', 'NA1_5189838113', 'NA1_5189798613', 'NA1_5189775053', 'NA1_5189744998', 'NA1_5189716966', 'NA1_5188444092', 'NA1_5188419916', 'NA1_5188386450', 'NA1_5188345273', 'NA1_5188303288', 'NA1_5188267336', 'NA1_5188231214', 'NA1_5188202883', 'NA1_5188164712', 'NA1_5188128247', 'NA1_5188101931', 'NA1_5188065378', 'NA1_5188046141', 'NA1_5188027608', 'NA1_5188002839', 'NA1_5187971804', 'NA1_5187935306', 'NA1_5187333322', 'NA1_5187293934', 'NA1_5187260331', 'NA1_5187231113', 'NA1_5187207440', 'NA1_5187173392', 'NA1_5185737589', 'NA1_5185692799', 'NA1_5185644743', 'NA1_5185612966', 'NA1_5185573662', 'NA1_5185012542']
['NA1_5184975635', 'NA1_5184955173', 'NA1_5184914958', 'NA1_5184874262', 'NA1_5184817916', 'NA1_5184771428', 'NA1_5184739088', 'NA1_5183217715', 'NA1_5183149101', 'NA1_5183081513', 'NA1_5183040691', 'NA1_5183002373', 'NA1_5182978599', 'NA1_5182397339', 'NA1_5182363719', 'NA1_5182316894', 'NA1_5182269264', 'NA1_5182245926', 'NA1_5182224898', 'NA1_5182200757', 'NA1_5182166583', 'NA1_5182124835', 'NA1_5182080717', 'NA1_5182052441', 'NA1_5182021239', 'NA1_5181466211', 'NA1_5181393208', 'NA1_5181357840', 'NA1_5181319903', 'NA1_5181281833', 'NA1_5181240594', 'NA1_5181207178', 'NA1_5181156739', 'NA1_5180463355', 'NA1_5180423908', 'NA1_5180375126', 'NA1_5180342753', 'NA1_5180312691', 'NA1_5180282545', 'NA1_5178796471', 'NA1_5178744353', 'NA1_5178709970', 'NA1_5178661816', 'NA1_5178625334', 'NA1_5178601835', 'NA1_5178575069', 'NA1_5178545789', 'NA1_5178152112', 'NA1_5177941276', 'NA1_5177874892', 'NA1_5177835537', 'NA1_5177805320', 'NA1_5177770379', 'NA1_5175565061', 'NA1_5175545411', 'NA1_5175512690', 'NA1_5175486446', 'NA1_5175441172', 'NA1_5175397333', 'NA1_5175341186', 'NA1_5175303313', 'NA1_5175257315', 'NA1_5175219409', 'NA1_5175185587', 'NA1_5175151514', 'NA1_5175128775', 'NA1_5173717406', 'NA1_5173675389', 'NA1_5173620173', 'NA1_5173578455', 'NA1_5173317138', 'NA1_5172753003', 'NA1_5172697875', 'NA1_5171977800', 'NA1_5171960407', 'NA1_5171948503', 'NA1_5171821100', 'NA1_5171777272', 'NA1_5171746639', 'NA1_5171696442', 'NA1_5166597741', 'NA1_5166560220', 'NA1_5166509438', 'NA1_5166467787', 'NA1_5166431532', 'NA1_5166378579', 'NA1_5166337675', 'NA1_5166285660', 'NA1_5166248569', 'NA1_5166226250', 'NA1_5165622027', 'NA1_5165556863', 'NA1_5165498067', 'NA1_5165450163', 'NA1_5165396484', 'NA1_5165347900', 'NA1_5165299820', 'NA1_5165250252', 'NA1_5165223184', 'NA1_5165183131']
['NA1_5163600177', 'NA1_5160296390', 'NA1_5160265488', 'NA1_5160220589', 'NA1_5160158943', 'NA1_5160119737', 'NA1_5160063745', 'NA1_5160035015', 'NA1_5159967519', 'NA1_5159914605', 'NA1_5159881759', 'NA1_5159837072', 'NA1_5158312948', 'NA1_5158261414']

In [84]:
final_df

,match_id,ally_champs,enemy_champs
0,NA1_5163600177,"[Graves, Hwei, Kennen, Aphelios, TahmKench]","[Poppy, Naafiri, Illaoi, Xayah, Ekko]"
1,NA1_5160296390,"[Ambessa, Ivern, Akali, KogMaw, Blitzcrank]","[Lulu, Kindred, Yasuo, Jhin, Nautilus]"
2,NA1_5160265488,"[Renekton, Ivern, Jayce, Syndra, Leona]","[Gragas, Diana, Yasuo, Xayah, Rakan]"
3,NA1_5160220589,"[Urgot, Ivern, Ambessa, Jhin, Veigar]","[Brand, Kayn, Naafiri, Yasuo, Rell]"
4,NA1_5160158943,"[Aatrox, Khazix, Jayce, Hwei, Bard]","[Udyr, Nidalee, Yasuo, Smolder, Nami]"
...,...,...,...
900,NA1_5278817897,"[MasterYi, Ashe, Pantheon, Yorick, Tristana, A...","[Renata, Sivir, Kaisa, Nunu, MasterYi, Illaoi,..."
901,NA1_5278806250,"[Evelynn, Briar, Lulu, Samira, Draven, Hecarim...","[Belveth, AurelionSol, Gnar, Lux, Warwick, Jhi..."
902,NA1_5278796589,"[MasterYi, Nami, Heimerdinger, Xayah, Kaisa, T...","[Yasuo, Ornn, Smolder, Shen, Singed, Sett, Ekk..."
903,NA1_5278695422,"[Ambessa, Viego, Sylas, AurelionSol, Leona]","[Shen, Naafiri, Neeko, Tristana, Janna]"
904,NA1_5278655654,"[Anivia, XinZhao, Annie, Draven, Bard]","[Riven, Ivern, Yone, AurelionSol, Maokai]"

In [18]:
def get_all_champs():
    version = requests.get("https://ddragon.leagueoflegends.com/api/versions.json").json()[0]
    api_url = f"https://ddragon.leagueoflegends.com/cdn/{version}/data/en_US/champion.json"

    champs_url = f'https://ddragon.leagueoflegends.com/cdn/{version}/data/en_US/champion.json'
    resp = requests.get(champs_url).json()

    champ_data = resp['data']
    champ_names = list(champ_data.keys())

    return champ_names

In [86]:
final_df = final_df.drop_duplicates(subset = ['match_id'])
final_df

,match_id,ally_champs,enemy_champs
0,NA1_5163600177,"[Graves, Hwei, Kennen, Aphelios, TahmKench]","[Poppy, Naafiri, Illaoi, Xayah, Ekko]"
1,NA1_5160296390,"[Ambessa, Ivern, Akali, KogMaw, Blitzcrank]","[Lulu, Kindred, Yasuo, Jhin, Nautilus]"
2,NA1_5160265488,"[Renekton, Ivern, Jayce, Syndra, Leona]","[Gragas, Diana, Yasuo, Xayah, Rakan]"
3,NA1_5160220589,"[Urgot, Ivern, Ambessa, Jhin, Veigar]","[Brand, Kayn, Naafiri, Yasuo, Rell]"
4,NA1_5160158943,"[Aatrox, Khazix, Jayce, Hwei, Bard]","[Udyr, Nidalee, Yasuo, Smolder, Nami]"
...,...,...,...
900,NA1_5278817897,"[MasterYi, Ashe, Pantheon, Yorick, Tristana, A...","[Renata, Sivir, Kaisa, Nunu, MasterYi, Illaoi,..."
901,NA1_5278806250,"[Evelynn, Briar, Lulu, Samira, Draven, Hecarim...","[Belveth, AurelionSol, Gnar, Lux, Warwick, Jhi..."
902,NA1_5278796589,"[MasterYi, Nami, Heimerdinger, Xayah, Kaisa, T...","[Yasuo, Ornn, Smolder, Shen, Singed, Sett, Ekk..."
903,NA1_5278695422,"[Ambessa, Viego, Sylas, AurelionSol, Leona]","[Shen, Naafiri, Neeko, Tristana, Janna]"
904,NA1_5278655654,"[Anivia, XinZhao, Annie, Draven, Bard]","[Riven, Ivern, Yone, AurelionSol, Maokai]"

In [87]:
final_df.to_csv('matches.csv', index = False)

In [88]:
#One Hot Encoding

all_champs = get_all_champs()

mlb_allies = MultiLabelBinarizer(classes=all_champs)
mlb_enemies = MultiLabelBinarizer(classes=all_champs)

ally_encoded = pd.DataFrame(mlb_allies.fit_transform(final_df['ally_champs']),
                            columns=[f'ally_{c}' for c in mlb_allies.classes_],
                            index=final_df.index)

enemy_encoded = pd.DataFrame(mlb_enemies.fit_transform(final_df['enemy_champs']),
                             columns=[f'enemy_{c}' for c in mlb_enemies.classes_],
                             index=final_df.index)

one_hot = pd.concat([final_df[['match_id']], ally_encoded, enemy_encoded], axis=1)

one_hot

c:\Users\minaz\OneDrive\Desktop\personal\win_predictor\env\Lib\site-packages\sklearn\preprocessing\_label.py:909: UserWarning: unknown class(es) ['FiddleSticks'] will be ignored
  warnings.warn(

,match_id,ally_Aatrox,ally_Ahri,ally_Akali,ally_Akshan,ally_Alistar,ally_Ambessa,ally_Amumu,ally_Anivia,ally_Annie,...,enemy_Yone,enemy_Yorick,enemy_Yuumi,enemy_Zac,enemy_Zed,enemy_Zeri,enemy_Ziggs,enemy_Zilean,enemy_Zoe,enemy_Zyra
0,NA1_5163600177,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NA1_5160296390,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NA1_5160265488,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NA1_5160220589,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NA1_5160158943,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,NA1_5278817897,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
901,NA1_5278806250,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
902,NA1_5278796589,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
903,NA1_5278695422,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
904,NA1_5278655654,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0

In [89]:
one_hot.to_csv('one_hot', index = False)